{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Django básico - Index</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
	<center>
		<h1>Hello world</h1>

		<img src="{% static 'images/django.png' %}">

		<h2>{{ curso }}</h2>

		<p>{{ outro }}</p>

		<table>
			<thead>
				<tr>
					<th>Produto</th>
					<th>Preço</th>
				</tr>
			</thead>
			<tbody>
				{% for produto in produtos %}
				<tr>
					<td><a href="{% url 'produto' produto.id %}">{{ produto.nome }}</a></td>
					<td>{{ produto.preco }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>

		<br>
		<button onclick="teste();">Clique-me</button>
	</center>

	<script src="{% static 'js/script.js' %}"></script>
</body>
</html>